.header {
    color: #FAFAFA;
    font-size: 1.5rem;
    background-color: #0F062C;
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mmm {
    color: #B28CE3;
}

/* button color: #8AFFB3 */
