.header {
    color: #FAFAFA;
    font-size: 1.5rem;
    background-color: #0F062C;
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "PT Sans", sans-serif;
}

.faMusic {
    color: #B28CE3;
    font-size: 2.5rem;
}

/* button color: #8AFFB3 */
