.playlistContainer {
    height: fit-content(95vh);
    width: 35rem;
    background-color: rgb(15, 6, 44);
    color: white;
    margin: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
}

.form {
    width: 80%;
    border-bottom: solid thin white;
}

.playlistInput {
    background-color:rgb(15, 6, 44);
    color: white;
    border: 0;
    outline: none;
    height: 4.5rem;
    font-size: 2rem;
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 0;
    width: 80%;
}

.noPlaylistNameErrorMessage {
    padding-top: 1rem;
}

.saveToSpotifyButton {
    height: 2.75rem;
    width: 9.5rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(139 82 213);
    margin-bottom: 2rem;
    border-style: none;
}

.saveToSpotifyButton:hover {
    background-color:rgb(139 82 213 / 0.5);
}

.saveToSpotifyButton:active {
    background-color: rgb(139 82 213 / 0.75);
}
