.searchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 7rem;
}

.searchContainer {
    margin-bottom: 2rem;
}

.searchInput {
    height: 4.5rem;
    width: 20rem;
    font-size: 2rem;
    border: 0;
    border-radius: 1rem;
    padding: 0 1rem;
    text-align: center;
    outline: none;
}

.searchButtonContainer {
    background-color: rgb(139 82 213);
    border-radius: 1rem;
}

.searchButton {
    height: 2.75rem;
    width: 6.5rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(15 6 44);
    border-style: none;
}

.searchButton:hover {
    background-color: rgb(15, 6, 44, 0.5);
}

.searchButton:active {
    background-color: rgb(15 6 44 / 0.75);
}
