.searchResultsContainer {
    height: fit-content(95vh);
    width: 35rem;
    background-color: rgb(15, 6, 44);
    color: white;
    margin: 3rem;
    text-align: center;
    opacity: 0.8;
}

.searchResultsContainer h2 {
    height: 4.5rem;
    font-size: 2rem;
    font-weight: 300;
}
