.trackContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color:rgb(15, 6, 44);
    color: white;
    border: 0;
    outline: none;
    padding: 0 1rem;
    text-align: center;
    margin: 0 auto 2rem auto;
    z-index: 9000;
}

.trackInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid thin white;
    width: 100%;
    gap: 1rem;
    word-break: break-all;
}

.trackSongArtistAndAlbum {
    display: flex;
    flex-direction: column;
    text-align: left;
    left: 0;
}

.trackSongArtistAndAlbum h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0;
}

.trackSongArtistAndAlbum p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.trackSongArtistAndAlbum p {
    color: grey
}

.minusButton {
    height: 2.5rem;
    border: 0;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(15, 6, 44);
}

.minusButton:hover {
    color: grey;
}
