html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image:
    linear-gradient(
      rgb(139 82 213 / 0.5),
      rgb(139 82 213 / 0.5)
    ),
    url('./drums.jpg');
  background-size: cover;
  overflow: auto;
  height: 100%;
}
