body {
  margin: 0;
  background-image:
    linear-gradient(
      rgba(139, 82, 213, 0.5),
      rgba(130, 82, 213, 0.5)
    ),
    url('./drums.jpg');
  background-size: cover;
  position: relative;
}
